/*Login imagem*/
.login img {
  width: 93px;
  height: 133px;
  margin-top: 14px;
}
/*Especificacoes da pagina*/
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
/*Quadrado*/
.quadrado {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  width: 468px;
  height: 460px;
  align-items: center;

  border: 1px dashed #38b6ff;
  border-radius: 50px;
}
/*Form email/senha/etc*/
.email {
  width: 396px;
  height: 38px;
  margin-top: 23px;
  border: 1px solid #38b6ff;
}
/*Centralizar os botoes*/
.containerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Botao azul escuro*/
.botaoc {
  width: 80%;
  height: 58px;
  margin-top: 28px;
  border-radius: 100px;
  background-color: #24aaf8;
  border: #24aaf8;
  color: white;
  font-size: 24px;
}
/*Botao azul claro*/
.botaonc {
  width: 80%;
  height: 58px;
  margin-top: 28px;
  border-radius: 100px;
  background-color: #63c6ff;
  border: #63c6ff;
  color: white;
  font-size: 24px;
}
/*Background Home*/
.bg {
  background-color: #cdecfe;
}
/*Menu*/
.menu {
  width: 100%;
  height: 80px;
  top: 0px;

  display: flex;
  align-items: center;

  background: #38b6ff;
}
/*Logo do Menu*/
.menu img {
  width: 120px;
  height: 80px;
  top: 0px;
}
/*Searchbar menu*/
.searchbar {
  width: 510%;
  height: 40px;
  margin-left: 25%;
  margin-top: 10%;
  border: white;
}
/*Icone do searchbar*/
.menu svg {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 77%;
  top: 26px;
}
/*Conta*/
.conta {
  position: absolute;
  width: 224px;
  height: 58px;
  left: 79%;
  top: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-align: center;

  color: #FFFFFF;
}
/*Submenu*/
.submenu {
  width: 100%;
  height: 35px;
  top: 80px;
  background: #63c6ff;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
/*Submenu fonte*/
.submenu a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  margin-left: 4%;
  text-decoration: none;
  color: #ffffff;
}
.submenu a:hover {
  color: #ffffff;
}
/*Background recomendação*/
.recomendacao {
  width: 95%;
  height: 300px;
  margin-left: 35px;
  margin-top: 40px;

  background: #ffffff;
  border-radius: 10px;
}
/*Fonte recomendação*/
.recomendacao font {
  height: 37px;
  margin-left: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;

  color: #000000;
}
/*Link para a recomendacao*/
.recomendacao a {
  margin-left: 15px;
  height: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #0f6293;
}
.recomendacao a:hover {
  color: #0f6293;
}
/*Ajustar os cards*/
.containerCards {
  display: flex;
  flex-direction: row;
}
/*Card livro*/
.cardbook {
  width: 165px;
  height: 225px;

  background: #e4e3e3;
  margin-top: 25px;
  margin-left: 45px;
  text-align: center;

  border-radius: 5px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.cardbook:hover {
  background: #8fd6ff;
}
/*Imagem do livro no card*/
.cardbook img {
  width: 141px;
  height: 160px;
  margin-top: 10px;
  border-radius: 5px;

  background: #ffffff;
}
/*Fonte do card*/
.cardbook h1 {
  margin-top: 5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  color: #000000;
}
/*Fonte Resultados*/
.resultadofonte {
  margin-left: 5%;
  top: 5%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;

  color: #000000;
}
.allResultados{
  display: flex;
  flex-direction: row;
}
.resultadoLivro{
  margin-top: 3%;
  margin-left: 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
/*Imagem de cada livro*/
.resultadoLivro img {
  width: 175px;
  height: 235px;
  left: 0%;
  top: 70px;

  background: #5b5757;
}
/*Fonte nome do livro*/
.resultadoLivro font {
  width: 180px;
  height: 19px;
  left: 0%;
  top: 310px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
/*Fonte edição e autor*/
.resultadoLivro span {
  width: 163px;
  height: 68px;
  left: 0%;
  top: 330px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #5b5757;
}
/*Fonte preço*/
.resultadoLivro h1 {
  width: 163px;
  height: 68px;
  top: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}
